<%- include('include/header') %>
<%- include('include/login-header') %>

<main>

  <%- include('include/tittle/tittle-header')%>
    <h1>Login</h1>
    <span>Ãrea do paciente</span>
  <%- include('include/tittle/tittle-footer')%>

  <div class="body-login">
    <h2>Seja bem vindo!</h2>

    <div>
      <form action="/login" method="post" class="login-form">
        <input type="text" name="cpf" id="cpf" placeholder="Informe seu CPF ou Email">
        <input type="password" name="password" id="password" placeholder="Informe sua senha">

        <%- include('include/button-next')%>
      </form>

      <div class="links-auxiliares">
        <button><a href="/recovery-password">Esqueci a senha</a></button>
        <button><a href="/register">Cadastrar-se</a></button>
      </div>
    </div>
  </div>
</main>

<%- include('include/help-footer') %>
<%- include('include/footer') %>
