<%- include('../include/header')%>



<main>


    <div>
        <p><strong>Especialidade:</strong> <%= user.specialty %></p>
        <p><strong>Código do Médico:</strong> <%= user.cm %></p>
        <p><strong>Email:</strong> <%= user.email %></p>
    </div>
    <a href="/">Voltar</a>
</main>

<%- include('../include/footer')%>